<h1> Recuperação de senha</h1>
<p> Ola <%= @usuario.nome %> </p>
<p> Para recuperar sua senha, clique <a href="http://watson.icb.usp.br/biosseguranca/senha_reset/<%=@usuario.senha_reset_token %>/edit"> aqui </a>
Se você não quiser recuperar a senha, ignore este e-mail. </p>

